DATABASE_URL=sqlite+aiosqlite:///./bookings.db
PROJECT_TITLE='MISE Bookings API'
PROJECT_DESCRIPTION='REST API для бронирования столика в ресторане. API позволяет
создавать бронь, получать список броней, получать бронь по id и отменять бронь.'
RUN_HOST=0.0.0.0
RUN_PORT=8000
DEBUG=True